@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fleur+De+Leah&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

.brand {
  font-family: "Fleur De Leah", cursive;
  font-size: 60px;
}

.nav {
  background-color: rgb(211, 211, 211);
  padding: 0 5px 0 5px;
}

.shop-card {
  display: flex;
  align-items: center;
  gap: 1px;
}

.card-details {
  display: flex;
  justify-content: center;
}

.card-api {
  margin: 20px 0 0 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.divCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardApi {
  display: flex;
  align-items: center;
}

.img {
  width: 10rem;
  height: auto;
}

.btn {
  margin: 5px;
}

.detail-img-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}
h3 {
  text-align: center;
}

.shoppingCart {
  width: 500px;
}

.divDelete {
  text-align: right;
  margin-right: 40px;
}
.btnCard {
  padding: 3px 7px 3px 7px;
}

.btnCount {
  margin: 5px;
  padding: 3px 7px 3px 7px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.liCount {
  margin-top: 20px;
}

.btnFinalize {
  width: 500px;
}
