@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Fleur+De+Leah&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome {
  margin-top: 8rem;
}

.mainContainer {
  background-color: #f5f5f5;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  margin: 2rem;
}

h5 {
  text-align: center;
}

.containerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 10rem;
  height: auto;
}

.card {
  align-items: center;
  justify-content: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
  padding: 1rem;
  margin: 2rem;
}

.btn {
  margin: 5px;
  width: 100%;
}

.containerLoad {
  height: 100%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  margin-top: 8rem;
  text-align: center;
}

/* Navbar */

.containerNavbar {
  opacity: 0.8;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar {
  padding: 0;
}

.brand {
  font-family: "Fleur De Leah", cursive;
  font-size: 60px;
}

.navLink {
  text-decoration: none;
  color: white;
  font-weight: 600;
  margin: 0 10px 0 10px;
  padding: 10px 5px 10px 5px;
}

.navLink:hover {
  border-bottom: 5px solid red;
  color: white;
}

.widget {
  font-size: 30px;
}

.cardWidget {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Form */

.containerForm {
  padding: 10rem;
}

.dateImput {
  color: red;
}

.titleContac {
  margin-bottom: 50px;
}

.contac {
  background-color: #f5f5f5;
}
/* Carrito */

.emptyCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.containerWithoutProduct {
  display: flex;
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  gap: 30px;
}

.list-group-item {
  display: flex;
  justify-content: center;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.15);
}

.btnFinalize {
  width: 50%;
}

.btnCard {
  padding: 3px 7px 3px 7px;
}

.liCount {
  margin-top: 20px;
  width: 100%;
}

.divDelete {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.shoppingCart {
  background-color: #f5f5f5;
  width: 100%;
  padding: 8rem 10rem 8rem 10rem;
}

.totalToPay {
  margin: 2rem;
}

.containerBuy {
  padding: 8rem;
}

/* Detalle */

.containerDetail {
  background-color: #f5f5f5;
}

.btnReturn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-details {
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.price {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.card-img-top {
  width: 70%;
}

/* Footer */

footer {
  text-align: center;
  font-size: 15px;
  padding: 2rem 0 2rem 0;
  background-color: #f5f5f5;
  height: 100;
}

/* ------- */

.numberCard {
  font-size: 30px;
  margin: 0 5px 0 5px;
}

.shop-card {
  display: flex;
  align-items: center;
  gap: 1px;
}

.divCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-img-account {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 20px;
}

.btnCount {
  margin: 5px;
  padding: 3px 7px 3px 7px;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styleCount {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
